div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:palevioletred;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

input {
    color:rgb(148, 60, 89);
}